@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>PruebaSeguros</h2>
    <h4>Para asignar o cancelar pólizas se debe seleccionar un cliente en la vista que lista los clientes y luego dar clic en el link de asignar.</h4>
</div>

<div class="row">
    
</div>